<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
        <welcome-file>/</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/views/Error404.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/views/ErrorPage.jsp</location>
    </error-page>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <servlet>
        <servlet-name>StickyCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.StickyCaptchaServlet</servlet-class>

        <init-param>
            <!-- Optional; defaults to 200. -->
            <param-name>captcha-width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <!-- Optional; defaults to 50. -->
            <param-name>captcha-height</param-name>
            <param-value>75</param-value>
        </init-param>
        <init-param>
            <!-- Time To Live, in ms. Optional; Defaults to 600000ms. -->
            <param-name>ttl</param-name>
            <param-value>100000</param-value>
        </init-param>
    </servlet>


    <servlet-mapping>
        <servlet-name>StickyCaptcha</servlet-name>
        <url-pattern>/stickyCaptcha.png</url-pattern>
    </servlet-mapping>

</web-app>
